h1,p {
    text-align:center;
    color:hsl(0,100%,50%);
  }
  
  h1 {
    margin-top:60px;
  }

  p {
    margin-bottom:70px;
  }
  
  form {
    padding:2rem 0;
    font-size:120%
  
  }
  
  body {
   font-family:Tahoma;
  }
  
  form[id='survey-form'] {
    width:600px;
    min-width:200px;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    box-shadow:0 0 50px 0 red;
  }
  
  label {
    display:block;
    margin:12px;
  
  }
  
  label[for='dropdown'] {
    margin-left:80px;
  }
  
  input {
    display:block;
    margin-top:12px;
    width:100%;
  }
  
  fieldset {
    border:none;
    margin:auto;
    font-family:Oswald;
    font-weight:bold;
  
  }
  
  body {
    background-image: url(https://scontent-otp1-1.xx.fbcdn.net/v/t39.30808-6/315296123_101120626162331_1169382201064194892_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=3635dc&_nc_ohc=uL4rGVkV2RIAX86OBc-&_nc_ht=scontent-otp1-1.xx&oh=00_AfAjJiVIjOTM_a4Zl_ygmuolHWKHJM4VkWEQL6EMgyhsBg&oe=65DE11B6);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding:60px;
  }
  
  form {
    background-color:rgba(240,0,0,90%);
  
  }
  
  input[type='radio'] {
    display:inline-block;
    width:80px;
    margin-top:1px;
  }
  
  legend {
    margin-left:30px;
  }
  
  input[type='checkbox'] {
    display:inline-block;
    width:80px;
    margin-top:1;
  }
  
  input[id='probleme'] {
    width:15px;
  }
  
  textarea {
    width:100% ;
    
  }
  
  hr {
    border-color:hsl(1,100%,40%)
  }
  
  input[type='submit'] {
    background-color:hsl(1,100%,70%);
    width:120px;
    margin:auto;
    font-size:20px;
    margin-bottom:-70px;
  }
  
  
  
  